<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="https://kit.fontawesome.com/6b0c860527.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/404.css">
    <title>Page Not Found | Batuhan Sahin</title>
</head>
<body>
    <nav>
       
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fas fa-bars"></i>
        </label>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#abilities">Abilities</a></li>
            <li><a href="#experiences">Experiences</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
     </nav>
     <div class="not_found">
         <p>404</p>
         <a href="/" class="button">Go Home</a>
     </div>
     <div class="end">
        <a href="https://www.linkedin.com/in/batuhannsahin/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-linkedin-in "></i></a>
        <a href="https://www.linkedin.com/in/batuhannsahin/" target="_blank" rel="noreferrer noopener"><i class="fa-brands fa-instagram " ></i></a>
        <a href="/resume" target="_blank" rel="noreferrer noopener"><i class="fa-regular fa-file " ></i></a>
        <a id="credit" href="">Designed & Built by Batuhan Sahin</a>
     </div>

</body>
</html>