<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="https://kit.fontawesome.com/6b0c860527.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/resume.css">
    <title>Resume | Batuhan Sahin</title>
</head>
<body>
    <embed src="CV.pdf" type="application/pdf">
</body>
</html>